# =========================
# System files
# =========================
.DS_Store
**/.DS_Store

# =========================
# Root files to ignore
# =========================
CarlaUE4.exe
CHANGELOG
Dockerfile
LICENSE

# =========================
# Large CARLA / simulation directories
# =========================
figures/
ros2/
fcdd/
Co-Simulation/
CARLAUE4/
Engine/
HDMaps/
Plugins/

# =========================
# PythonAPI handling
# =========================

# Ignore everything inside PythonAPI
PythonAPI/*

# Allow examples directory
!PythonAPI/examples/

# Ignore everything inside examples
PythonAPI/examples/*

# Allow scripts folder
!PythonAPI/examples/scripts/